<mat-card class="formCard">
    <mat-card-header>
        <mat-card-title class="formTitle">Dados de Implementação</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div></div>
        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Tamanho da Janela:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedKernelSize">
                    <mat-radio-button class="kernelSizeRadio" color = "primary" *ngFor="let kernelSize of kernelSizes" [value] = 'kernelSize'>
                        {{kernelSize}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Formato da Janela:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedKernelFormat">
                    <mat-radio-button class="kernelFormatRadio" color = "primary" *ngFor="let kernelFormat of kernelFormats"
                        [value] = 'kernelFormat'>
                        {{kernelFormat}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Filtros de Retificação:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedRectificationMethod">
                    <mat-radio-button class="rectificationMethodRadio" color = "primary"
                        *ngFor="let rectificationMethod of rectificationMethods" [value] = 'rectificationMethod'>
                        {{rectificationMethod}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>

        <mat-card class="parameterCard">
            <mat-card-header>
                <mat-card-title class="parameterTitle">Número de Iterações:</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-radio-group [(ngModel)] = "selectedIteration">
                    <mat-radio-button class="iterationRadio" color = "primary" *ngFor="let iteration of iterations" [value] = 'iteration'>
                        {{iteration}}
                    </mat-radio-button>
                    <mat-radio-button value="7" color="primary">Outro:</mat-radio-button>
                    <mat-form-field class="customIterationInput" appearance="standard">
                        <input matInput [class.customIterationInputHidden]="selectedIteration < 7" [(ngModel)] = "customIteration"
                            [disabled] = "selectedIteration < 7" (change) = "validateIterationNumber()" type="number">
                    </mat-form-field>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>
    </mat-card-content>

    <div class="fileImportAndInformation">

        <div class="actions">
            <input #fileInput type="file" (change)="recieveNewArchive($event)" style="display: none;">
            <button class="simpleButtons" mat-button (click) = "fileInput.click()">
                <span class="material-icons">
                    add_circle_outline
                </span>
                Importar Zona de Manejo
            </button>
            <br>
            <button style="margin-left: 15%;" class="simpleButtons" mat-button (click) = "goToFileEditor()">
                <span class="material-icons">
                    create
                </span>
                Editar arquivo
            </button>
            <br>
            <button (click) = "exportOriginalLayer()" class="simpleButtons" mat-button>
                <span class="material-icons">
                    arrow_upward
                </span>
                Exportar zona de manejo
            </button>
        </div>

        <div class="fileInformation">
            <mat-form-field style="margin-right: 1vw;" class="fileInformationFields" appearance="outline">
                <mat-label>Nome do Arquivo</mat-label>
                <input matInput [value] = "fileName" color="primary">
            </mat-form-field>
            <mat-form-field class="fileInformationFields" appearance="outline">
                <mat-label>Tamanho</mat-label>
                <input matInput [value] = "fileSize" color="primary">
            </mat-form-field>
            <br>
            <mat-form-field style="margin-right: 1vw;" class="fileInformationFields" appearance="outline">
                <mat-label>Extensão</mat-label>
                <input matInput [value] = "fileExtension" color="primary">
            </mat-form-field>
            <mat-form-field class="fileInformationFields" appearance="outline">
                <mat-label>Número de Pontos</mat-label>
                <input matInput [value] = "fileSamplingPointsQuantity" color="primary">
            </mat-form-field>
        </div>
    </div>

    <div style="text-align: center;">
        <button class="mainButton" (click) = "executeRectification()" mat-raised-button>
            <span class="material-icons">
                miscellaneous_services
            </span>
            Executar Retificação
        </button>
    </div>
    <mat-progress-bar [ngStyle]="{display: loadBarState}" mode="indeterminate"></mat-progress-bar>
</mat-card>
<br>
