<mat-card class = "tableCard">
    <mat-card-header>
        <mat-card-title class="tableTitle">Analisar pontos amostrais: </mat-card-title>
    </mat-card-header>

    <mat-card-content class="mainMatCardContent">
        <mat-form-field appearance="outline">
            <mat-label>N° de Pontos Amostrais</mat-label>
            <input matInput color = "primary" class="layerInfo" value = {{layer.pointsQuantity}} readonly>
        </mat-form-field>
        <br>
        <br>
        <br>
        <div class="subtitleAndEditButton">
            <span class="subtitle">Pontos Amostrais</span>
            <div style="margin-right: 10%;">
                <mat-slide-toggle [(ngModel)] = "isEditing" (change) = "turnOffEditing($event)" [checked] = "isEditing">
                    Editar dados
                </mat-slide-toggle>
            </div>
        </div>
        <table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">
            <ng-container matColumnDef = index>
                <th mat-header-cell class="tableHeader" *matHeaderCellDef>Índice</th>
                <td mat-cell class = "tableCell" *matCellDef = "let element; let i = index"> 
                    {{exhibitedLowerIndex + (i + 1)}}
                </td>
            </ng-container>

            <ng-container matColumnDef = {{layer.header1}}>
                <th mat-header-cell class="tableHeader" *matHeaderCellDef>{{layer.header1}}</th>
                <td mat-cell class = "tableCell" *matCellDef = "let element"> 
                    {{element.coordinates[0]}}
                </td>
            </ng-container>

            <ng-container matColumnDef = {{layer.header2}}>
                <th mat-header-cell class="tableHeader" *matHeaderCellDef>{{layer.header2}}</th>
                <td mat-cell class = "tableCell" *matCellDef = "let element">
                    {{element.coordinates[1]}}
                </td>
            </ng-container>

            <ng-container matColumnDef = {{layer.header3}}>
                <th mat-header-cell class="tableHeader" *matHeaderCellDef>{{layer.header3}}</th>
                <td mat-cell *matCellDef = "let element; let i = index">  
                    <div *ngIf="isEditing">
                        <mat-form-field [ngClass]="validateNewSamplingValue(element.data) ? 'validInput' : 'invalidInput' "
                            id="sampling{{i}}">
                              <input type = "number" matInput (change) = "editDataInput($event, i)" (keyup) = "editDataInput($event, i)"
                                [value] ="element.data">
                        </mat-form-field>
                    </div>
                    <div *ngIf="!isEditing">
                        {{element.data}}
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
            <tr mat-row *matRowDef = "let row; columns: displayedColumns"></tr>
        </table>

        <div class="tablePaginator">
            Página {{actualTablePage}} de {{totalTablePages}}
            <button mat-icon-button [disabled] = "exhibitedUpperIndex <= quantityExhibitedSP" (click) = "tablePaginatorPreviousPage()"
                color = "primary">
                  <span class="material-icons">west</span>
            </button>
            <button mat-icon-button style = "margin-right: 6.5%;" color = "primary"
                [disabled] = "exhibitedUpperIndex === layer.pointsQuantity" (click) = "tablePaginatorNextPage()">
                    <span class = "material-icons">east</span>
            </button>
        </div>
    </mat-card-content>
</mat-card>
<br>
