.tableCard{
    width: 65%;
    margin-left: 17.5%;
    margin-top: 2vh;
    background-color: whitesmoke;
    margin-bottom: 2vh;
}
.tableTitle{
    font-size: 200%;
}
.mainMatCardContent{
    text-align: center;
}
.layerInfo{
    text-align: center;
}
table{
    width: 90%;
    margin-left: 5%;
    margin-top: 1vh;
}
.mat-header-cell{
    text-align: center;
}
.tableHeader{
    font-size: large;
}
.tableCell{
    width: 25%;
}
.subtitle{
    font-size: large;
    color: black;
    margin-left: 6%;
}
.subtitleAndEditButton{
    display: flex;
    justify-content: space-between;
}
mat-slide-toggle{
    color: rgb(72, 92, 207);
}
.invalidInput{
    text-align: center;
    background-color: rgb(255, 235, 235);
    color: red;
}
.invalidInput:hover{
    background-color: rgb(255, 215, 215);
}
.validInput{
    text-align: center;
    background-color: white;
    color: rgb(72, 92, 207);
}
.validInput:hover{
    background-color: rgb(243, 243, 243);
}