<mat-sidenav-container class="sidenavContainer">
    <mat-sidenav class="sidenav" position = "start" mode = "side" opened>
        <div class = "sidenavTitle">Dados das Layers</div>

        <mat-accordion>
            <mat-expansion-panel style = "margin-top: 2vh;">
                <mat-expansion-panel-header>
                    Seleção de Layers
                </mat-expansion-panel-header>

                <div class="mapSelection">
                    <mat-radio-group [(ngModel)]="selectedMapType">
                        <mat-radio-button color="primary" *ngFor="let mapType of mapTypes" [value] = "mapType"
                            (change)="changeSelectedMap(mapType)">
                            {{mapType}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Ponto Amostral</mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="selectedSamplingPointId !== -1">
                    <mat-form-field class="layerInfo" appearance="outline">
                        <mat-label>Latitude</mat-label>
                        <input matInput [value] = "selectedSPFirstCoordinate" color = "primary" readonly>
                    </mat-form-field>

                    <mat-form-field class="layerInfo" appearance="outline">
                        <mat-label>Longitude</mat-label>
                        <input matInput [value] = "selectedSPSecondCoordinate" color = "primary" readonly>
                    </mat-form-field>

                    <mat-form-field class="layerInfo" appearance="outline">
                        <mat-label>Classe</mat-label>
                        <input matInput [value] = "selectedSPData" color = "primary" readonly>
                    </mat-form-field>

                    <mat-form-field class="layerInfo" appearance="outline">
                        <mat-label *ngIf="selectedMapType === mapTypes[0]">Após retificar</mat-label>
                        <mat-label *ngIf="selectedMapType === mapTypes[1]">Sem retificar</mat-label>
                        <input matInput [value] = "SPDataFromOtherLayer" color = "primary" readonly>
                    </mat-form-field>
                </div>
                <div *ngIf="selectedSamplingPointId === -1">
                    <p class = "warningText">
                        Nenhum ponto amostral selecionado
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Legenda do Mapa
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="Cor">
                        <th mat-header-cell *matHeaderCellDef>Cor&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td mat-cell *matCellDef="let element">
                            <div id = 'circle{{element.class}}'>
                                {{element.color}}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Classe">
                        <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;Classe</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button mat-stroked-button (click) = "openPerClassCustomizationDialog(i + 1)">{{element.class}}</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <button mat-button class="gradientButton" (click) = "openGradientDialog()">
                    <span class="material-icons">
                        palette
                    </span>
                    Degradê
                </button>
            </mat-expansion-panel>
        </mat-accordion>
        <button mat-button color = "primary" class="downloadJpgButton" (click) = "downloadMapJpg()">
            <span class="material-icons">
                vertical_align_bottom
            </span>
            Download Mapa
        </button>

        <button mat-button color = "primary" class="downloadJpgButton" (click) = "downloadRectifiedTxt()">
            Layer Retificada .txt
        </button>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div id="map" (click) = "selectSamplingPoint($event)" class="map"></div>
    </mat-sidenav-content>
</mat-sidenav-container>
