<mat-sidenav-container class="sidenavContainer">
    <mat-sidenav class="sidenav" position = "start" mode = "side" opened>
        <div class = "sidenavTitle">Dados das Layers</div>

        <mat-accordion>
            <mat-expansion-panel style = "margin-top: 2vh;">
                <mat-expansion-panel-header>
                    Seleção de Layers
                </mat-expansion-panel-header>

                <div class="mapSelection">
                    <mat-radio-group [(ngModel)]="selectedMapType">
                        <mat-radio-button color="primary" *ngFor="let mapType of mapTypes" [value] = "mapType"
                            (change)="changeSelectedMap(mapType)">
                            {{mapType}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Ponto Amostral</mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="selectedSamplingPointId !== -1">
                    <mat-form-field class="layerInfo" appearance="outline">
                        <mat-label>Latitude</mat-label>
                        <input matInput [value] = "selectedSPFirstCoordinate" color = "primary" readonly>
                    </mat-form-field>

                    <mat-form-field class="layerInfo" appearance="outline">
                        <mat-label>Longitude</mat-label>
                        <input matInput [value] = "selectedSPSecondCoordinate" color = "primary" readonly>
                    </mat-form-field>

                    <mat-form-field class="layerInfo" appearance="outline">
                        <mat-label>Classe</mat-label>
                        <input matInput [value] = "selectedSPData" color = "primary" readonly>
                    </mat-form-field>
                </div>
                <div *ngIf="selectedSamplingPointId === -1">
                    <p class = "warningText">
                        Nenhum ponto amostral selecionado
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Legenda do Mapa
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div id="map" (click) = "selectSamplingPoint($event)" class="map"></div>
    </mat-sidenav-content>
</mat-sidenav-container>
